<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Shopping list</a>

  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer-test">
  <div class="container">Test task for MentalStack</div>

</footer>
