<div class="container">

  <div class="row home-element">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" [(ngModel)]="name"/>
        <input type="text" name="description" class="form-control" placeholder="Description" id="description" [(ngModel)]="description"/>
        <input type="text" class="form-control" placeholder="Price" id="price" name="price" [(ngModel)]="price" mask='0*'
               aria-describedby="price-dollar">
        <div class="input-group-append">
          <span class="input-group-text" id="price-dollar">$</span>
        </div>
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addItem()" type="button">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row home-element">
    <div class="col-md-12">
      <app-message></app-message>
    </div>
  </div>
  <div class="row home-element">
    <div class="col-md-12">
      <ul class="list-group">
        <li *ngFor="let item of this.data.items" class="list-group-item">
          <div class="item-info">
            <div>
              <b>Name:</b><br>
              {{ item.name }}
            </div>
            <div>
              <b>Description:</b><br>
              {{ item.description }}
            </div>
            <div>
              <b>Price:</b><br>
              {{ item.price }}$
            </div>
            <div>
              <b>Creation date:</b><br>
              {{ item.date | date: 'd/M/yy, h:mm a'}}
            </div>
          </div>
          <div class="item-delete">
            <button class="btn btn-danger" (click)="deleteItem(item._id)" type="button">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
