.home-element {
  padding-top: 30px;
}
.container > .row > .text-left > ul {
  text-align: left;
  display: inline-block;
}

.item-info {
  display: inline-block;
}

.item-delete {
  display: inline-block;
  float: right;
}
